*{
	margin: 0;
	padding: 0;
}
body {
	font-family:'Open Sans', sans-serif;
	font-size: 16px;
}

.caja{
	border:1px solid #999;
	color:black;	
	margin-bottom:1px;
	padding: 1%;
}

.categoria{
	font-size: 12px;
	color: green;
}

#container{
	color: white;
	margin: auto 2%;	
}

#ErrorMsgs{
	color: #f11;
	font-size: smaler;
}

.right{
	float: right;
}

section > div{
	padding: 20px;
}

header,nav,section,footer{
	background: #eee;
	border-radius: 5px;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}
nav span{
	margin: 0px 10px 0px 0px;
}

footer span{
	margin:0 10px;
}